services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    public: false

  # 按目录自动注册服务
  WechatWorkJssdkBundle\Controller\:
    resource: '../../Controller/'
  WechatWorkJssdkBundle\Service\:
    resource: '../../Service/'
    public: true
  WechatWorkJssdkBundle\Procedure\:
    resource: '../../Procedure/'
    public: true
  WechatWorkJssdkBundle\Semantics\:
    resource: '../../Semantics/'
    public: true

  # 外部依赖的可选配置
  WechatWorkJssdkBundle\Controller\LaunchCodeController:
    arguments:
      $corpRepository: '@?WechatWorkBundle\Repository\CorpRepository'
      $agentRepository: '@?WechatWorkBundle\Repository\AgentRepository'
      $workService: '@?WechatWorkBundle\Service\WorkService'

  WechatWorkJssdkBundle\Procedure\GetWechatWorkJssdkConfig:
    arguments:
      $corpRepository: '@?WechatWorkBundle\Repository\CorpRepository'
      $agentRepository: '@?WechatWorkBundle\Repository\AgentRepository'
      $workService: '@?WechatWorkBundle\Service\WorkService'